@media screen and (max-width: 500px) {
    @media (max-width: 600px) {
        main {
            width: 45dvh;
            padding: 100px;
            padding-bottom: 80px;
            padding-top: 180px;
        }
        form > h1 {
            bottom: 150px;
            right: 80px;
            font-size: 1.8em;
        }
        .tela {
            bottom: 140px;
            right: 40px;
        }
        form input[type="text"],
        form input[type="password"] {
            width: 300px;
        }
        .entrar {
            bottom: 130px;
            right: 40px;
        }
        .codigo {
            bottom: 110px;
            font-size: 0.9em;
        }
        .acesso {
            width: 280px;
            bottom: 100px;
            right: 40px;
        }
        .check {
            bottom: 70px;
            right: 50px;
        }
        section p {
            width: 230px;
            bottom: 50px;
            right: 50px;
        }
    }
}