@media (max-width: 600px) {
  body {
    background: none;
    background-color: black;
    margin: 0;
    padding: 0;
    width: 100dvw;
    height: 100dvh;
  }
  form {
    width: 100%;
    position: relative;
    left: 30px;
  }
}
