* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu,
    sans-serif;
}
body {
  width: 100%;
  margin: 0;
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(https://assets.nflxext.com/ffe/siteui/vlv3/20bf1f4d-1c73-48fd-8689-310d6dd80efc/7d257591-d93c-415d-a845-400000527ac0/BR-pt-20240812-POP_SIGNUP_TWO_WEEKS-perspective_WEB_53a3c996-6e10-4694-82cf-57d2ab4f3dd8_small.jpg);
}
main {
  background-color: rgba(0, 0, 0, 0.8);
  height: 80dvh;
  width: 50dvh;
  display: flex;
}
form {
  width: 76%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8rem;
  -webkit-flex-direction: column;
  gap: 16px;
}
h1 {
  text-align: center;
  color: white;
}
.tela {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.1rem;
}
.tela input {
  padding: 1.3rem;
  padding-left: 9rem;
  display: flex;
  background: transparent;
  border: 1px solid #8a8888;
  border-radius: 5px;
}
.pass {
  display: flex;
  flex-direction: column;
}
.pass input {
  padding: 1.3rem;
  padding-left: 9rem;
  background: transparent;
  border: 1px solid #8a8888;
  border-radius: 5px;
}
.entrar input {
  border: none;
  background-color: red;
  padding: 0.8rem 9rem;
  border-radius: 5px;
  color: white;
  font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu,
    sans-serif;
}
p {
  color: white;
}
.acesso {
  background-color: #8a8888;
  padding: 0.5rem;
  width: 300px;
  border-radius: 5px;
  text-align: left;
}
.acesso a {
  text-decoration: none;
  color: white;
}
