* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu,
    sans-serif;
}
body {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(https://assets.nflxext.com/ffe/siteui/vlv3/20bf1f4d-1c73-48fd-8689-310d6dd80efc/7d257591-d93c-415d-a845-400000527ac0/BR-pt-20240812-POP_SIGNUP_TWO_WEEKS-perspective_WEB_53a3c996-6e10-4694-82cf-57d2ab4f3dd8_small.jpg);
}
main {
  background-color: rgba(0, 0, 0, 0.7);
  height: 80%;
  width: 50vh;
  display: flex;
}
